#modalDiv {
  top: 52%;
  left: 49%;
  transform: translate(-52%, -49%);
}

.mylistbox {
  max-height: 150px;
  overflow: auto;
  cursor: default;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.active {
  background-color: skyblue;
}
